<!--  NAV  -->
<nav>
    <a class="logo" href="index.html">Regina<span>Pinto</span></a>
    <div class="nav-links-wrap" id="navWrap">
        <div class="nav-links" id="navLinks">
            <a href="about.html" id="nav-about">About</a>
            <a href="programs.html" id="nav-programs">Programs</a>
            <a href="resources.html" id="nav-resources">Resources</a>
        </div>
        <a class="btn-nav" href="book.html" id="nav-book">Book Session</a>
    </div>
    <div class="nav-toggle" onclick="toggleNav()" id="navToggle">
        <span></span><span></span><span></span>
    </div>
</nav>
